@model IEnumerable<MarsBurgerV1.ViewModel.ThumbnailBoxVM>
@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/homeaddons.css">
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div class="jumbotron">
        <br />
        <h2>Welcome To MarsBurger!</h2>
        <br /><br />
        <video autoplay="autoplay" width="1000" height="450" and loop>
            <source src="~/Media/Burger.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="row">
        <div class="pull-right" style="padding-right:10px;">
            <button type="submit" value="Search" class="btn btn-sm btn-primary">
                <span class="glyphicon glyphicon-search"></span>
                <span>Search</span>
            </button>
        </div>
        <h4 class="pull-left">Our Spacials:</h4>
        <div class="pull-right">
            @Html.Editor("search", new { htmlattributes = new { @class = "form-control input-sm" } })
        </div>
    </div>
    <br />
}
<div class="row">
    @foreach (var a in Model)
    {
        @Html.Partial("_ThumbnailAreaPartial", a);
    }
</div>
<div class="jumbotron TT">
    <div class="par">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris ac vestibulum purus. Vivamus risus sapien, sagittis vel lectus ac,
        tincidunt elementum orci. Morbi consectetur eros a erat sodales sollicitudin.
        Sed eu enim laoreet, vulputate dolor in, venenatis odio. Curabitur lectus arcu,
        euismod ut eros et, lobortis tempor quam. Phasellus eget maximus odio, quis interdum ante.
        Duis augue arcu, ultrices a dignissim et, ultricies eu lorem. Cras non purus sodales,
        pellentesque quam ut, volutpat dui. Quisque ullamcorper facilisis fringilla. Etiam et tempor ante.
        Integer sed venenatis purus. Praesent sit amet dolor in ex ultricies tincidunt.
        Phasellus eu leo vel turpis vulputate cursus. Phasellus magna tortor, egestas id neque ac,
        convallis imperdiet tellus.

        Donec ultrices nulla libero, ut faucibus massa vulputate iaculis.
        Etiam cursus, nunc et facilisis egestas, urna nisl euismod nulla,
        in viverra elit tortor nec tellus. Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Nunc iaculis vel dui vel posuere.
        Curabitur sit amet sapien ante. Duis quis quam non felis venenatis egestas ac aliquet tortor.
        Nam tempor pellentesque sapien ac varius.
    </div>
</div>

