<li class="dropdown" data-admin-menu>
    <a href="#" >
        Admin
        <span class="glyphicon glyphicon-triangle-bottom"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="divider"></li>
        <li><a href="/AccountType">&nbsp;&nbsp;Manage Account Types</a></li>
        <li><a href="/User">&nbsp;&nbsp;Manage Users</a></li>
        <li class="divider"></li>
        <li><a href="/OrdersManagement">&nbsp;&nbsp;Manage Orders</a></li>
        <li class="divider"></li>
        <li><a href="/Menu">&nbsp;&nbsp;Manage Menu</a></li>
        <li><a href="/Meal">&nbsp;&nbsp;Manage Meals</a></li>
        <li><a href="/Addon">&nbsp;&nbsp;Manage Addons</a></li>
        <li><a href="/SideDish">&nbsp;&nbsp;Manage Side Dishes</a></li>
        <li><a href="/Drink">&nbsp;&nbsp;Manage Drinks</a></li>
        <li class="divider"></li>
    </ul>
</li>
