<li class="dropdown" data-admin-menu>
    <a href="#" >
        Admin
        <span class="glyphicon glyphicon-triangle-bottom"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="divider"></li>
        <li><a href="/AccountType">&nbsp;&nbsp;Account Types</a></li>
        <li><a href="/User">&nbsp;&nbsp;Users</a></li>
        <li class="divider"></li>
        <li><a href="/Branch">&nbsp;&nbsp;Branches</a></li>
        <li class="divider"></li>
        <li><a href="/OrdersManagement">&nbsp;&nbsp;Submited Orders</a></li>
        <li class="divider"></li>
        <li><a href="/Meal">&nbsp;&nbsp;Meals</a></li>
        <li><a href="/Addon">&nbsp;&nbsp;Addons</a></li>
        <li><a href="/SideDish">&nbsp;&nbsp;Side Dishes</a></li>
        <li><a href="/Drink">&nbsp;&nbsp;Drinks</a></li>
        <li class="divider"></li>
    </ul>
</li>
