@model List<MarsBurgerV1.ViewModel.ItemVM>
@using MarsBurgerV1.Utility
@using MarsBurgerV1.Models
@{
    
}
<td style="width:400px;">
    <div class="row">
        @for (int i = 0; i < Model.Count(); i ++)
        {
            @Html.Partial("_OrderDetailsPartial",
           new OrderDetailsPartial
           {
               Name = Model[i].Name,
               ImageUrl = Model[i].ImageURL,
               Price = Model[i].Price,
               Quantity = Model[i].Quantity
           })

        }
    </div>
</td>
